In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [27]:
address = 'C:/PthML/'

In [37]:
a = 'jeju/jeju.csv'  # https://www.data.go.kr/tcs/dss/selectDataSetList.do?keyword=%EB%AC%BC%EB%A5%98

In [38]:
file_a = address + a
file_a

'C:/PthML/jeju/jeju.csv'

In [39]:
pd.read_csv(file_a,'r',encoding = 'CP949')  # encoding error

  업종분류,권역,구인 추정비율(%),구직 추정비율(%),추정미스매치지수,남성 추정비율(%),여성 추정비율(%),정규직 추정비율(%),비정규직 추정비율(%),평균추정급여(신입기준/월기준/단위 원),데이터기준일자
0  항공/해운/물류,제주시_중부,70.73,65.68,0.37,51.44,48.56,8...
1  항공/해운/물류,제주시_서부,4.07,8.57,0.07,74.12,25.88,90....
2  항공/해운/물류,제주시_동부,3.25,8.57,0.07,69.85,30.15,88....
3  항공/해운/물류,서귀포시_중부,13.01,2.86,0.02,67.46,32.54,9...
4  항공/해운/물류,서귀포시_서부,2.44,0.05,0.01,70.68,29.32,92...
5  항공/해운/물류,서귀포시_동부,6.5,14.28,0.11,52,48,95,5,240...

In [40]:
# dataF = pd.read_csv(file_a,'r',encoding = 'CP949')
# not visible

In [41]:
b = 'jeju/logistics_terminal_info_200806.xls'

In [61]:
file_b = address + b
file_b

'C:/PthML/jeju/logistics_terminal_info_200806.xls'

In [62]:
dataFrame = pd.read_excel(file_b,header = None)
dataFrame.columns = ['name','district','range','date']

print(dataFrame.head())

        name                   district   range        date
0      물류단지명                         지역      규모       사업개시일
1        NaN                        NaN     NaN         NaN
2    동부물류터미널  서울특별시 동대문구 장안동 284-1 외4필지   19463  1975/08/10
3    서부트럭터미널   서울특별시 양천구 신정동 1315 외19필지  112111  1979/09/29
4  영창화물트럭터미널        인천광역시 남구 학익동 587-58   30460  1983/02/16

In [69]:
newDF = dataFrame.drop(0) # getting rid category names in hangul
newDF

           name                    district   range        date
1           NaN                         NaN     NaN         NaN
2       동부물류터미널   서울특별시 동대문구 장안동 284-1 외4필지   19463  1975/08/10
3       서부트럭터미널    서울특별시 양천구 신정동 1315 외19필지  112111  1979/09/29
4     영창화물트럭터미널         인천광역시 남구 학익동 587-58   30460  1983/02/16
5    광주화물자동차터미널       광주광역시 북구 각화동 380 외2필지   35765  1983/03/04
6       진주화물터미널       경남 진주시 상대동 33-89 외1필지   21575  1987/01/31
7       청주화물터미널    충북 청주시 흥덕구 지동동 476 외13필지   19654  1989/07/08
8       한국트럭터미널           서울특별시 서초구 양재동 226   96017  1990/03/31
9     대전공용화물터미널           대전광역시 대덕구 읍내동 100   60242  1990/09/20
10      부산물류터미널   부산광역시 강서구 녹산산업북로 119(송정동)   85667  1992/11/12
11    한진인천전용터미널           인천광역시 중구 항동 7가 56   43538  1994/04/12
12      안산화물터미널    경기도 안산시 단원구 성곡동 710 외1필지   42946  1995/04/14
13      울산화물터미널    울산광역시 북구 효문동 843-2 외15필지   41593  1995/05/18
14      서부물류터미널         대구광역시 달서구 월성동 895-7   70022  1996/01/12
15      보은화물터미널         충북 보은군 보은읍 지산리 1-13   13127  1996/01/24
16      구미화물터미널       경북 구미시 오태동 155-5 외2필지   33148  1996/03/25
17    서부공용화물터미널           경기 시흥시 정왕동 1359-5   16500  1996/07/15
18  시화공단공용화물터미널           경기 시흥시 정왕동 1359-4   50841  1997/07/03
19      아산화물터미널          충남 아산시 선장면 선창리 232   21475  1997/07/10
20    중부공용화물터미널      경기 용인시 처인구 백암면 백봉리 601  160086  1999/01/07
21     신익산화물터미널      전북 익산시 부송동 254-10 외5필지   23924  1999/01/09
22      인천트럭터미널           인천광역시 남구 도화3동 957   45985  1999/02/04
23      여천화물터미널              전남 여수시 월하동 769   11131  1999/03/16
24      중부화물터미널           충남 천안시 구룡동 1 외8필지   33896  1999/05/04
25      안산물류터미널       경기도 안산시 단원구 성곡동 710-4   35592  1999/12/08
26    여천트럭화물터미널         전남 여수시 월하동 582 외2필지   16518  2000/12/29
27      북부물류터미널         대구광역시 북구 매천동 618-16    9878  2001/04/21
28      한진화물터미널       경기도 성남시 분당구 구미동 171-1    9395  2001/09/01
29    중부대전물류터미널    대전광역시 유성구 대정동 300-1 외1필지   59556  2001/12/03
30      풍암물류터미널     광주광역시 서구 매월동 944-1외 5필지   39304  2004/07/29
31      동부물류터미널            대구광역시 동구 용계동 662   34510  2006/01/20
32      평택물류터미널          경기도 평택시 도일동 1170-2   16473  2009/04/29
33    여수일반물류터미널           전남 여수시 해산동 산 16-5   51268  2011/05/20
34      삼일물류터미널  경북 포항시 남구 대송면 옥명리 550 외1필지  109833  2011/06/07
35      한샘물류터미널             경기 시흥시 정왕동 2208   60086  2012/10/17

In [68]:
newDF = dataFrame.drop('district',axis = 1) # .dropna()
newDF

           name   range        date
0         물류단지명      규모       사업개시일
1           NaN     NaN         NaN
2       동부물류터미널   19463  1975/08/10
3       서부트럭터미널  112111  1979/09/29
4     영창화물트럭터미널   30460  1983/02/16
5    광주화물자동차터미널   35765  1983/03/04
6       진주화물터미널   21575  1987/01/31
7       청주화물터미널   19654  1989/07/08
8       한국트럭터미널   96017  1990/03/31
9     대전공용화물터미널   60242  1990/09/20
10      부산물류터미널   85667  1992/11/12
11    한진인천전용터미널   43538  1994/04/12
12      안산화물터미널   42946  1995/04/14
13      울산화물터미널   41593  1995/05/18
14      서부물류터미널   70022  1996/01/12
15      보은화물터미널   13127  1996/01/24
16      구미화물터미널   33148  1996/03/25
17    서부공용화물터미널   16500  1996/07/15
18  시화공단공용화물터미널   50841  1997/07/03
19      아산화물터미널   21475  1997/07/10
20    중부공용화물터미널  160086  1999/01/07
21     신익산화물터미널   23924  1999/01/09
22      인천트럭터미널   45985  1999/02/04
23      여천화물터미널   11131  1999/03/16
24      중부화물터미널   33896  1999/05/04
25      안산물류터미널   35592  1999/12/08
26    여천트럭화물터미널   16518  2000/12/29
27      북부물류터미널    9878  2001/04/21
28      한진화물터미널    9395  2001/09/01
29    중부대전물류터미널   59556  2001/12/03
30      풍암물류터미널   39304  2004/07/29
31      동부물류터미널   34510  2006/01/20
32      평택물류터미널   16473  2009/04/29
33    여수일반물류터미널   51268  2011/05/20
34      삼일물류터미널  109833  2011/06/07
35      한샘물류터미널   60086  2012/10/17

In [70]:
newDF

           name                    district   range        date
1           NaN                         NaN     NaN         NaN
2       동부물류터미널   서울특별시 동대문구 장안동 284-1 외4필지   19463  1975/08/10
3       서부트럭터미널    서울특별시 양천구 신정동 1315 외19필지  112111  1979/09/29
4     영창화물트럭터미널         인천광역시 남구 학익동 587-58   30460  1983/02/16
5    광주화물자동차터미널       광주광역시 북구 각화동 380 외2필지   35765  1983/03/04
6       진주화물터미널       경남 진주시 상대동 33-89 외1필지   21575  1987/01/31
7       청주화물터미널    충북 청주시 흥덕구 지동동 476 외13필지   19654  1989/07/08
8       한국트럭터미널           서울특별시 서초구 양재동 226   96017  1990/03/31
9     대전공용화물터미널           대전광역시 대덕구 읍내동 100   60242  1990/09/20
10      부산물류터미널   부산광역시 강서구 녹산산업북로 119(송정동)   85667  1992/11/12
11    한진인천전용터미널           인천광역시 중구 항동 7가 56   43538  1994/04/12
12      안산화물터미널    경기도 안산시 단원구 성곡동 710 외1필지   42946  1995/04/14
13      울산화물터미널    울산광역시 북구 효문동 843-2 외15필지   41593  1995/05/18
14      서부물류터미널         대구광역시 달서구 월성동 895-7   70022  1996/01/12
15      보은화물터미널         충북 보은군 보은읍 지산리 1-13   13127  1996/01/24
16      구미화물터미널       경북 구미시 오태동 155-5 외2필지   33148  1996/03/25
17    서부공용화물터미널           경기 시흥시 정왕동 1359-5   16500  1996/07/15
18  시화공단공용화물터미널           경기 시흥시 정왕동 1359-4   50841  1997/07/03
19      아산화물터미널          충남 아산시 선장면 선창리 232   21475  1997/07/10
20    중부공용화물터미널      경기 용인시 처인구 백암면 백봉리 601  160086  1999/01/07
21     신익산화물터미널      전북 익산시 부송동 254-10 외5필지   23924  1999/01/09
22      인천트럭터미널           인천광역시 남구 도화3동 957   45985  1999/02/04
23      여천화물터미널              전남 여수시 월하동 769   11131  1999/03/16
24      중부화물터미널           충남 천안시 구룡동 1 외8필지   33896  1999/05/04
25      안산물류터미널       경기도 안산시 단원구 성곡동 710-4   35592  1999/12/08
26    여천트럭화물터미널         전남 여수시 월하동 582 외2필지   16518  2000/12/29
27      북부물류터미널         대구광역시 북구 매천동 618-16    9878  2001/04/21
28      한진화물터미널       경기도 성남시 분당구 구미동 171-1    9395  2001/09/01
29    중부대전물류터미널    대전광역시 유성구 대정동 300-1 외1필지   59556  2001/12/03
30      풍암물류터미널     광주광역시 서구 매월동 944-1외 5필지   39304  2004/07/29
31      동부물류터미널            대구광역시 동구 용계동 662   34510  2006/01/20
32      평택물류터미널          경기도 평택시 도일동 1170-2   16473  2009/04/29
33    여수일반물류터미널           전남 여수시 해산동 산 16-5   51268  2011/05/20
34      삼일물류터미널  경북 포항시 남구 대송면 옥명리 550 외1필지  109833  2011/06/07
35      한샘물류터미널             경기 시흥시 정왕동 2208   60086  2012/10/17

In [71]:
#newDF['range'] = newDF['range'] * 0.3025
# initial data seems to be str type
pd.Series(newDF['range']).astype(float)

1          NaN
2      19463.0
3     112111.0
4      30460.0
5      35765.0
6      21575.0
7      19654.0
8      96017.0
9      60242.0
10     85667.0
11     43538.0
12     42946.0
13     41593.0
14     70022.0
15     13127.0
16     33148.0
17     16500.0
18     50841.0
19     21475.0
20    160086.0
21     23924.0
22     45985.0
23     11131.0
24     33896.0
25     35592.0
26     16518.0
27      9878.0
28      9395.0
29     59556.0
30     39304.0
31     34510.0
32     16473.0
33     51268.0
34    109833.0
35     60086.0
Name: range, dtype: float64

In [72]:
newDF.describe()

           name           district   range        date
count        34                 34      34          34
unique       33                 34      34          34
top     동부물류터미널  전남 여수시 해산동 산 16-5  112111  1990/03/31
freq          2                  1       1           1

In [73]:
newDF['range'] = newDF['range'] * 0.3025

In [74]:
newDF['range'].head()

1        NaN
2    5887.56
3    33913.6
4    9214.15
5    10818.9
Name: range, dtype: object